{% extends 'base.html' %}
{% block title %}{{ user_object.username }}{% endblock %}
{% block menu %}
    {% if user_object == request.user %}
        <li><a href="{% url "accounts:user_update" user_object.pk %}">Edit Profile</a></li>
        <li><a href="{% url 'accounts:user_password_change' user_object.pk %}">Change Password</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card" style="width: 18rem; align-items: center;">
        <div class="card-body">
            <h2 class="card-title">Profile: {{ user_object.username }}</h2>
            <p class="card-text">First Name: <b>{{ user_object.first_name }}</b></p>
            <p class="card-text">Last Name: {{ user_object.last_name }}</p>
            <p class="card-text">Email: {{ user_object.email }}</p>
        </div>
    </div>
{% endblock %}



