{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Issue Tracker{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block styles %}{% endblock %}
</head>
<body>
<nav class="navbar-my">
    <div class="container">
        <ul class="menu">
            <li><a href="{% url 'webapp:index' %}">Home</a></li>
            <li><a href="{% url 'webapp:project_index' %}">Projects</a></li>
            <li><a href="{% url 'webapp:status_index' %}">Statuses</a></li>
            <li><a href="{% url 'webapp:type_index' %}">Types</a></li>
            {% block menu %}{% endblock %}
            <li class="menu-right">
                <ul>
                    <li><a href="#myModal" data-toggle="modal">Статистика</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'accounts:user_index' %}">Users</a></li>
                        <li style="color: darkblue;">Hello, <a href="{%  url 'accounts:user_detail' request.user.pk %}">{{request.user}}!</a></li>
                        <li><a href="{% url 'accounts:logout' %}">Log out</a></li>
                    {% else %}
                        <li><a href="{% url 'accounts:login' %}">Log in</a></li>
                        <li><a href="{% url 'accounts:register' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">Statistics</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
                {% if request.user.is_authenticated %}
                    <h3>User: {{ request.user.username }}</h3>
                {% endif %}
                <h4>Pages you visited:</h4>
                <ul>
                    {% for page, count in visits.items %}
                        <li>{{ page }}: {{ count }} time(s)</li>
                    {% endfor %}
                </ul>
                <p>Total {{ visits_total }} visits.</p>
                <h4>Time you spend in site:</h4>
                <ul>
                    {% for page, count in times.items %}
                        <li>{{ page }}: {{ count|stringformat:".2f" }} seconds</li>
                    {% endfor %}
                </ul>
                <p>Total {{ times_total|stringformat:".2f" }} seconds</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
</div>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}
</body>
</html>
